<!DOCTYPE html>
<html>
  
<h1>User Statistics</h1>
<p>{{value}}</p>
<style type="text/css">
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }

  div {
    display: inline-block
  }
</style>

<body>
  <iframe
    src="http://opensuse.stream.stud-srv.sdu.dk/app/dashboards#/view/cd269320-5745-11ec-bb61-57465a8ca684?embed=true&_g=(filters%3A!()%2Cquery%3A(language%3Akuery%2Cquery%3A'')%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-3w%2Cto%3Anow))"
    height="600" width="800"></iframe>
</body>

</html>